*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote,
ul, ol,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
   
    background-color: var(--cor-fundo-base);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal, 'Manrope', sans-serif); 
    line-height: 1.5; 
    min-height: 100vh; 
    text-rendering: optimizeSpeed; 
}

a {
    color: inherit; 
    text-decoration: none; 
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit; 
}

ul, ol {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

p,
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}